{% extends 'base.html.twig' %}


{% block stylesheets %}

        <style>
@font-face {
    font-family: 'Newtext Bk BT Italic';
    src: url('{{ absolute_url(asset('fonts/NewtextBkBTItalic.woff2')) }}') format('woff2'),
        url('{{ absolute_url(asset('fonts/NewtextBkBTItalic.woff')) }}') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Newtext Rg BT';
    src: url('{{ absolute_url(asset('fonts/NewtextITCbyBT-Regular.woff2')) }}') format('woff2'),
        url('{{ absolute_url(asset('fonts/NewtextITCbyBT-Regular.woff')) }}') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newtext Bold';
    src: url('{{ absolute_url(asset('fonts/NewtextBold.woff2')) }}') format('woff2'),
        url('{{ absolute_url(asset('fonts/NewtextBold.woff')) }}') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Casablanca Antique Plain';
    src: url('{{ absolute_url(asset('fonts/CasablancaAntiquePlain.woff2')) }}') format('woff2'),
        url('{{ absolute_url(asset('fonts/CasablancaAntiquePlain.woff')) }}') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('{{ absolute_url(asset('fonts/Verdana.woff2')) }}') format('woff2'),
        url('{{ absolute_url(asset('fonts/Verdana.woff')) }}') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
       font-size: 1.9mm;
       font-family: 'Newtext Rg BT';
       letter-spacing: -0.05em;
       word-spacing: 0.2em;
}

   .wrapper {
	position: relative;
	/* background: blue;  */
	height: 359px;
	width: 239px;
    display: inline-block;
}

.background {
	position: absolute;
	/* background: yellow;   */
}

.front {
position: relative;
    width: 48.3mm;
    height: 79mm;
    display: inline-block;
    padding: 28px 28px 37px 29px;
}

table,
tr,
td {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

table.main {
	width: 49mm;
	height: 79mm;
	display: block;
}

tr,
td {
	width: 49mm;
}

.title {
    font-family: 'Casablanca Antique Plain';
	height: 9.7mm;
	color: yellow;
	text-align: center;
    font-size: 340%;
}

.profile {
    font-family: 'Newtext Bold';
	height: 16mm;
}

.dice {
	height: 8mm;
    font-size: 107%;
    font-family: 'Verdana';
    letter-spacing: 0em;
}

.dice table{font-size: 100%; }
.dice td {width: 3.1mm; text-align: center;letter-spacing: -1px;}
.dice td.end    {width: 2.1mm;}
.dice td.label {
    width: 15mm;
    text-align: left;
    padding: 3px;
    letter-spacing: 0em;
}
.dice tr.adversary {
    font-weight: bold;
}

.body {
	height: 45mm;
	text-align: justify;
	vertical-align: top;
    position: relative;
}

.body p {
	font-size: 115%;
    padding: 1.5mm;
    position: absolute;
    margin: 0;

}
 
.body .coin {
    flex: none;
    font-size: 73%;
    font-weight: bold;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36px;
    height: 9mm;
    resize: vertical;
    overflow: none;
    text-align: center;
    max-height: 9mm;
    min-height: 9mm;
    float: left;
    bottom: 6px;
    position: absolute;
    left: 4px;
    font-family: Verdana;


} 


.body .coin .gold {
    font-size: 230%;
    line-height: 86%;
}


.body .level  {
    font-size: 100%;
    font-weight: bold;
    color: yellow;
    float: right;
    right: 2mm;
    position: absolute;
    top: 1mm;
    /* text-shadow: 0.3px 0.3px 0px #000000; */
}

.body span.special-rule{
    font-size: 100%;
    font-weight: bold;
} 


.profile  table {
    font-size: 100%;
}
.profile th.label { 
    text-align: right;
    padding-left: 1mm;
    width: 16.5mm;
}
.profile td { width: 6mm;} 

.body .image {
       float: right;
       clear: right; 

       position:absolute;
    

}
         
        </style>    
{% endblock %}



{% block body %} 
<div>    
    {% include 'card/monoMonster.html.twig' with {'cardData': cardData} %}
  
</div>
{% endblock %}