       <div class="wrapper">            
            <div class="background">                    
                <img src="{{ absolute_url(asset('images/card.svg')) }}" />            
            </div>            
            <div class="front">                               
                <table class="main">                               
                    <tr>               
                        <td class="title">               
                            <div><span id="count">{{cardData[0].count}}</span> <span id="title">{{cardData[0].profile.name}}</span>
                            </div></td>               
                    </tr>                               
                    <tr>               
                        <td class="profile">   
                        
                        
                        <table>
                            
                            
                          <tr>               
                        <th class="label">Points de Vie</th><td >: <span id="wounds">{{cardData[0].profile.wounds}}</span></td>             
                        <th class="label">Endurance</th><td >: <span id="toughness">{{cardData[0].profile.toughness}}</span></td>              
                        </tr>                               
                               <tr>               
                        <th class="label">Mouvement</th><td >: <span id="movement">{{cardData[0].profile.movement}}</span></td>             
                        <th class="label">Inititive</th><td >: <span id="initiative">{{cardData[0].profile.initiative}}</span></td>              
                        </tr>   <tr>               
                        <th class="label">Combat</th><td >: <span id="weaponSkill">{{cardData[0].profile.weaponSkill}}</span></td>             
                        <th class="label">Attaques</th><td >: <span id="attacks">{{cardData[0].profile.attacks}}</span></td>              
                        </tr>   <tr>               
                        <th class="label">Tir</th><td >: <span id="ballisticSkill">{{cardData[0].profile.ballisticSkill}}</span></td>             
                        <th class="label">Armure</th><td >: <span id="armor">{{cardData[0].profile.armor}}</span></td>              
                        </tr> <tr>               
                        <th class="label">Force</th><td >: <span id="strength">{{cardData[0].profile.strength}}</span></td>             
                        <th class="label">Dommage</th><td>: <span id="damageDice">{{cardData[0].profile.damageDice}}</span></td>           
                        </tr>   
                            
                            </table>
                        
                        
                                    
                           </td>               
                    </tr>               
                    <tr>               
                        <td class="dice">               
                            <table>
                            
                            
                    <tr class="adversary">               
                        <td class="label">CC Adverse</td>
                        <td >1</td>
                        <td >2</td>
                        <td >3</td>
                        <td >4</td>
                        <td >5</td>
                        <td >6</td>
                        <td >7</td>
                        <td >8</td>
                        <td >9</td>
                        <td class="end">10            
                        </td>              
                    </tr>                               
                    <tr class="roll">               
                        <td class="label">Pour Toucher</td>
                        <td>{{cardData[0].diceRoll[0]}}</td>
                        <td >{{cardData[0].diceRoll[1]}}</td>
                        <td >{{cardData[0].diceRoll[2]}}</td>
                        <td >{{cardData[0].diceRoll[3]}}</td>
                        <td >{{cardData[0].diceRoll[4]}}</td>
                        <td>{{cardData[0].diceRoll[5]}}</td>
                        <td >{{cardData[0].diceRoll[6]}}</td>
                        <td >{{cardData[0].diceRoll[7]}}</td>
                        <td >{{cardData[0].diceRoll[8]}}</td>
                        <td class="end" >{{cardData[0].diceRoll[9]}}</td>        
                    </tr>   
                            
                            </table></td>               
                    </tr>               
                    <tr>               
                        <td class="body">                 
                            <img class="image" src="{{ absolute_url(asset('images/db-files/' ~ cardData[0].image)) }}" style="{{cardData[0].imageStyle}}" />             
                            <div class="level">Niveau {{cardData[0].profile.battleLevel}}</div>
                            <div class="coin"><span class="text">VALEUR</span> <span id="gold" class="gold">{{cardData[0].profile.gold}}</span> <span class="text">CHACUN</span></div>
                            <p><span class="special-rule">Règles spéciales</span> : <br />
                            <span class="rules">
                            {% for rule in cardData[0].rules %}
                                <span class="rule"><b><span class="ruleName">{{rule.name}}</span></b> : <span class="ruleText">{{rule.description}}</span><br/></span> 
                            {% endfor %}
                                </span>
                              </p> 
                            </td>               
                    </tr>                               
                </table>                          
                      
            </div>        
        </div> 