       <div class="wrapper">            
            <div class="background">                    
                <img src="{{ absolute_url(asset('images/card.svg')) }}" />            
            </div>            
            <div class="front">                               
                <table class="main">                               
                    <tr>               
                        <td class="title">               
                            <div><span>{{cardData[0].count}}</span> {{cardData[0].profile.name}}
                            </div></td>               
                    </tr>                               
                    <tr>               
                        <td class="profile">   
                        
                        
                        <table>
                            
                            
                          <tr>               
                        <th class="label">Points de vie</th><td >{{cardData[0].profile.wounds}}</td>             
                        <th class="label">Endurance</th><td >{{cardData[0].profile.toughness}}</td>              
                        </tr>                               
                               <tr>               
                        <th class="label">Mouvement</th><td >{{cardData[0].profile.movement}}</td>             
                        <th class="label">Inititive</th><td >{{cardData[0].profile.initiative}}</td>              
                        </tr>   <tr>               
                        <th class="label">Combat</th><td >{{cardData[0].profile.weaponSkill}}</td>             
                        <th class="label">Attaques</th><td >{{cardData[0].profile.attacks}}</td>              
                        </tr>   <tr>               
                        <th class="label">Tir</th><td >{{cardData[0].profile.ballisticSkill}}</td>             
                        <th class="label">Armure</th><td >{{cardData[0].profile.armor}}</td>              
                        </tr> <tr>               
                        <th class="label">Force</th><td >{{cardData[0].profile.strength}}</td>             
                        <th class="label">Dommage</th><td>{{cardData[0].profile.damageDice}}</td>           
                        </tr>   
                            
                            </table>
                        
                        
                                    
                           </td>               
                    </tr>               
                    <tr>               
                        <td class="dice">               
                            <table>
                            
                            
                          <tr>               
                        <th class="label">CC Adverse</th><td >1             
                        </td><td >2             
                        </td><td >3             
                        </td><td >4             
                        </td><td >5            
                        </td><td >6             
                        </td><td >7             
                        </td><td >8            
                        </td><td >9            
                        </td> <td class="end">10            
                        </td>              
                    </tr>                               
                    <tr>               
                        <th class="label">Pour toucher</th>
                        <td>{{cardData[0].diceRoll[0]}}             
                        </td><td >{{cardData[0].diceRoll[1]}}              
                        </td><td >{{cardData[0].diceRoll[2]}}              
                        </td><td >{{cardData[0].diceRoll[3]}}              
                        </td><td >{{cardData[0].diceRoll[4]}}             
                        </td><td >{{cardData[0].diceRoll[5]}}              
                        </td><td >{{cardData[0].diceRoll[6]}}              
                        </td><td >{{cardData[0].diceRoll[7]}}             
                        </td><td >{{cardData[0].diceRoll[8]}}             
                        </td> <td class="end" >{{cardData[0].diceRoll[9]}}             
                        </td>        
                    </tr>   
                            
                            </table></td>               
                    </tr>               
                    <tr>               
                        <td class="body">                 
                            <img class="image" src="{{ absolute_url(asset('images/db-files/' ~ cardData[0].image)) }}" style="{{cardData[0].imageStyle}}" />             
                            <div class="level">Niveau {{cardData[0].profile.battleLevel}}</div>
                            <div class="coin"><span class="text">Valeur</span> <span class="gold">{{cardData[0].profile.gold}}</span> <span class="text">chaque</span></div>
                            <p><span class="special-rule">Règles spéciales</span><br />
                            {% for rule in cardData[0].rules %}
                                <b>{{rule.name}}</b> : {{rule.description}}<br /> 
                            {% endfor %}
                              </p> 
                            </td>               
                    </tr>                               
                </table>                          
                      
            </div>        
        </div> 